body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero, .footer {
    background-color: #1F2937;
}

.hero {
    display: flex;
}

.lefthero, .righthero {
    flex: 1;
}

.lefthero {
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

ul {
    list-style: none;
    font-size: 18px;
    ;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}